@font-face {
  font-family: 'iconfont';  /* project id 1298227 */
  src: url('//at.alicdn.com/t/font_1298227_99j1rzrwv36.eot');
  src: url('//at.alicdn.com/t/font_1298227_99j1rzrwv36.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1298227_99j1rzrwv36.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1298227_99j1rzrwv36.woff') format('woff'),
  url('//at.alicdn.com/t/font_1298227_99j1rzrwv36.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1298227_99j1rzrwv36.svg#iconfont') format('svg');
}
.icon{
  font-family: 'iconfont'
}