@font-face {
  font-family: 'iconfont';  /* project id 1298227 */
  src: url('//at.alicdn.com/t/font_1298227_po68a47fzu.eot');
  src: url('//at.alicdn.com/t/font_1298227_po68a47fzu.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1298227_po68a47fzu.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1298227_po68a47fzu.woff') format('woff'),
  url('//at.alicdn.com/t/font_1298227_po68a47fzu.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1298227_po68a47fzu.svg#iconfont') format('svg');
}
.icon{
  font-family: 'iconfont'
}