$bgColor = #00bcd4
$greyBg = #e3e6e9 
$darkTextColor = #333
$greyTextColor = #e3e6e9
$headerHeight = .86rem

$nowrapeDot()
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;



